<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="authors" content="Alicia Muniz e Caio Lima"> <!-- Metadado com os autores da página -->

    <title>Inicio - Level Up & Chill</title> <!-- Título da página -->
    <style class="paginaInicial estiloProduto"></style>
    <link rel="shortcut icon" href="./public/controller.ico" type="image/x-icon"> <!-- Favicon da página -->
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet"> 
</head>
<header>
    <div class="logo-container">
        <img src="./public/marca_1.png" alt="Logo" class="logo"> <!-- Logo da empresa -->
        <h1>Level Up & Chill</h1> <!-- Título principal -->
    </div>

    <div class="search-container">
        <input type="text" class="search-bar" placeholder="Pesquisar..."> <!-- Barra de pesquisa -->
    </div>
    <div class="menu">
        <a href="./cliente">👤</a> <!-- Link para a página de cadastro -->
        <a href="compra.html">🛒</a> <!-- Link para a página de compras/carrinho -->
        <div class="menu-icon" onclick="openNav()">☰</div> <!-- Ícone do menu responsivo -->
    </div>
    <body>
        <div id="mySidenav" class="sidenav">
            <!-- Menu lateral oculto -->
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a> <!-- Botão para fechar o menu lateral -->
            <p class="cat">Categorias</p><br>
            <a href="pagina-cabos.html">Cabos</a> <!-- Link para a página de cabos -->
            <a href="pagina-cadeira.html">Cadeiras Gamer</a> <!-- Link para a página de cadeiras gamer -->
            <a href="pagina-controles.html">Consoles & controles</a> <!-- Link para a página de consoles e controles -->
            <a href="pagina-headset.html">Headset</a> <!-- Link para a página de headsets -->
            <a href="pagina-cartas.html">Jogos de Cartas</a> <!-- Link para a página de jogos de cartas -->
            <a href="pagina-tabuleiro.html">Jogos de Tabuleiro</a> <!-- Link para a página de jogos de tabuleiro -->
            <a href="pagina-videogame.html">Jogos de Video Game</a> <!-- Link para a página de jogos de video game -->
            <a href="pagina-microfone.html">Microfone</a> <!-- Link para a página de microfones -->
            <a href="pagina-monitor.html">Monitores</a> <!-- Link para a página de monitores -->
            <a href="pagina-mousepad.html">Mousepad</a> <!-- Link para a página de mousepads -->
            <a href="pagina-rgb-led.html">RGB</a> <!-- Link para a página de RGB -->
            <a href="pagina-suporte-controle.html">Suportes</a> <!-- Link para a página de suportes -->
            <a href="pagina-teclado-mouse.html">Teclados & mouse</a> <!-- Link para a página de teclados e mouses -->
        </div>
    
        <div class="carousel-container">
            <!-- Container principal do carrossel, que envolverá as imagens e botões de navegação -->
            <button class="prev" onclick="moveSlide(-1)">&#10094;</button> <!-- Botão de navegação para o slide anterior -->
            
            <div class="carousel">
                <!-- Container que contém as imagens do carrossel -->
                <img src="./public/carrossel-3.png" class="carousel-item"> <!-- Imagem do carrossel -->
            </div>
            
            <button class="next" onclick="moveSlide(1)">&#10095;</button> <!-- Botão de navegação para o próximo slide -->
        </div>
        
        <br><br>
        <i><b>{{mensagem}}</b></i>
        <br><br>
        <h4="Produtos" *ngIf="lista.length<=0">Produtos utilizados em uma raid, necessário farm para continuar, tente mais tarde</h4>
        <div class="feature-products">
            <div *ngFor="let item of lista">
                <h4>{{item.nome}}</h4>
                <img src="./{{item.codigo}}.webp" width="250">
                <br>
                {{item.descritivo}}
                <br><br>
                R$ {{item.valor}}
                <button class="btn-go" (click)="verDetalhe(item)">Ver mais</button>
                <button class="btn-go" *ngIf="item.quantidade">Comprar</button> 
            </div>
        </div>
        <footer>
            <!-- Rodapé do site -->
            <p>&copy; Alicia Abade e Caio Lima - 2024</p> <!-- Direitos autorais -->
        </footer>
    
        <script>
            // Funções para abrir e fechar o menu lateral
            function openNav() {
                document.getElementById("mySidenav").style.width = "250px";
            }
            function closeNav() {
                document.getElementById("mySidenav").style.width = "0";
            }
        </script>
    </body>
</header>
   
