
    <!-- <div class="container"> -->

    <div class="centraliza"><h2>Entrando Na Dungeon, XPs Estão a Sua Espera</h2></div>
    <div class="container">  
        <b>{{mensagem}}</b>
        <br><br>
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" [(ngModel)]="obj.email">
        </div>
        
        <div>
            <label for="senha">Senha:</label>
            <input type="password" id="senha" [(ngModel)]="obj.senha">
        </div>
        
        <div>
            <button class="btn-go" (click)="fazerLogin()">Entrar</button>
            <button class="btn-go" (click)="novoCadastro()">
                <a href="./cliente">NG+</a>
            </button>
        </div>
        
        <div>
            <a href="./esqueci">Pegue Seu Loot de Volta!!!</a>
        </div>
    </div>
 <!-- </div> -->
   
