<br><br>
<h1>Entrando Na Taverna...</h1>
<body>
    <div class="container">
        <br><br>
        <h1><b>{{mensagem}}</b></h1>
        <br>
        <form (ngSubmit)="gravar()" #formCliente="ngForm">
            Nome Completo: <input type="text" placeholder="Username" [(ngModel)]="obj.nome" name="Nome Completo" required>
            Telefone: <input type="text" placeholder="Número de Telefone" [(ngModel)]="obj.telefone" required>
            CPF: 
            <input type="text" placeholder="CPF" [(ngModel)]="obj.documento" required (input)="formatarCPF()">
            Email: <input type="text" placeholder="Cadastro@gmail.com" [(ngModel)]="obj.email" required>
            Senha: 
            <div class="senha-container">
                <input [type]="senhaOculta ? 'password' : 'text'" placeholder="Senha" [(ngModel)]="obj.senha" required>
                <span class="eye-icon" (click)="toggleSenha()">{{ senhaOculta ? '👁️' : '🙈' }}</span>
            </div>
            <button class="btn-go" (click)="gravar()">Go!</button>
        </form>
    </div>
</body>
